/Binaries
/DerivedDataChache
/Intermediate
/Saved
/Content/InfinityBladeAdversaries
/Content/InfinityBladeEffects
/Content/InfinityBladeFireLands
/Content/InfinityBladeGrassLands
/Content/InfinityBladeIceLands
/Content/InfinityBladeWarriors
/Content/InfinityBladeWeapons
/Content/Geometry
/Content/Mannequin
/Content/ThirdPerson
/Content/ThirdPersonBP
/Content/StarterContent
*.sdf
*.opensdf
*.suo
*.sln